.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.buttons {
    display: flex;
    gap: 5%;
}
.buttons >button{
    border-color: black;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 110px;
    cursor: pointer;
    transition:
            background-color 600ms ease-in-out,
            transform 50ms ease-in-out;
}
.buttons >button:hover{
    background-color: black;
    color: white;
}
.buttons >button:active{
    transform: scale(0.95);
}